services:
  backend:
    build: .
    volumes:
      - .:/backend
    ports: 
      - "8000:8000"
    env_file:
      - .env 
  migration: # Django migration service
    build: .
    command: python3 manage.py makemigrations && python3 manage.py migrate
    volumes:
      - .:/backend
    env_file:
      - .env
    depends_on:
      - backend