services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    expose:
      - "5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} -h 127.0.0.1 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 2
      start_period: 5s
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - our-network
  pgadmin4:
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      - postgres
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    networks:
      - our-network
  backend:
    build:
      context: .
      dockerfile: dockerfiles/backend.Dockerfile
    volumes:
      - ./backend:/backend
    working_dir: /backend
    expose:
      - "8000"
    env_file:
      - .env
    depends_on:
      - postgres
    networks:
      - our-network

  frontend:
    build:
      context: .
      dockerfile: dockerfiles/frontend.Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
    ports:
      - "80:80"
    env_file:
      - .env
    depends_on:
      - backend
    volumes:
      - ./backend/media:/var/www/media:ro
    networks:
      - our-network
   
   
      
volumes:
  pgdata:
  pgadmin-data:

networks:
  our-network:
    driver: bridge

