KINOPOISK_ENV_ID=prod

POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydatabase

POSTGRESQL_URL=postgres://myuser:mypassword@postgres:5432/mydatabase

PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=yourpassword

VITE_API_URL=/api

SECRET_KEY=your-secret-key