# Django Core
Django==5.2
gunicorn==23.0.0
psycopg2-binary==2.9.10

# Django REST Framework
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
django-filter==25.1

# Django Apps
django-allauth==65.12.0
django-cors-headers==4.7.0
django-widget-tweaks==1.5.0
cryptography

# Configuration
python-decouple==3.8

# Web Scraping & HTTP Requests
requests==2.32.3
beautifulsoup4==4.13.4

# Image & Text Processing
easyocr==1.7.2
pytesseract==0.3.13
pdf2image==1.17.0
Pillow==11.2.1

# External APIs
google-api-python-client==2.168.0
google-generativeai==0.8.5
python-telegram-bot==22.0