{% extends 'base.html' %}

{% block title %}Главная - KinoPoisk{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Добро пожаловать в KinoPoisk!</h2>
    <p>Это простое приложение для просмотра фильмов Django.</p>

    {% if user.is_authenticated %}
        <p>Привет, {{ user.username }}! Ты уже вошел в систему.</p>
        <p><a href="{% url 'profile' %}" class="btn">Перейти в профиль</a></p>
    {% else %}
        <p>Пожалуйста, войди в систему или зарегистрируйся для доступа к профилю.</p>
        <div>
            <a href="{% url 'login' %}" class="btn">Войти</a>
            <a href="{% url 'register' %}" class="btn" style="margin-left: 10px;">Регистрация</a>
        </div>
    {% endif %}
</div>
{% endblock %}
